.card-bg{
    background-color: rgb(255, 255, 255);
    padding: 3% 5%;
}
.card-header{
    font-size: 20px;
    font-weight: 700;
    color: rgb(104, 254, 50);
    font-family: sans-serif;
}
.card-img{
    border-radius: 10%;

}
.card-btns{
    display: flex;
}
.btn{
    width: 45%;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin: auto;
}
