.name{
    text-align: center;
    color: rgb(8, 22, 0);
    font-size: 40px;
}
.title{
    font-size: 30px;
    color:rgb(0, 17, 255);
    text-align: center;
}
.bg-color{
    /* background-color: #FF5733; */
    background-color: rgb(190, 247, 255);
}
.button{
    background-color: #fd7e14;

}
.button1{
    background-color: #f2f2f2;

}
.total{
    width: 80%;
    background-color: rgb(47, 231, 255);
    text-align: center;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 10px;
}