.hisab{
    background-color: rgb(4, 255, 234);
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
h2{
    color: rgb(252, 0, 0);
}
h3{
    color: rgb(26, 165, 33);
}
h4{
    color: blue;
}